.cell {
    background-color: rgb(68, 0, 255);
    margin: 0px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    flex-grow: 1;
    flex-shrink: 1;
}

#container {
    margin:auto;
    height:800px;
    width: 800px;
    flex-grow:1;
    display: flex;
    flex-wrap: wrap;
}